@import url('https://fonts.googleapis.com/css?family+Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');


/*setting up root colors in order to switch to dark mode*/
:root{
    --theme-name:light;
    --theme-fg:;
    --theme-bg:#43604D;
    --theme-text:white;
}
* {
    padding: 0;
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
    font-family: 'Miriam Libre', sans-serif;
    background-color: var(--theme-bg);
    color: var(--theme-text);
    margin: 0;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    padding: 0;
    position: relative;
}

.col-12 a {
    color:var(--theme-text);
}

.row {
    overflow-x: hidden;
}

.navbar {
    padding: 0.8rem;
    background-color: #3B5444;
}

.navbar-nav {
    padding-right: 20px;

}

.btn-secondary {
    color: var(--theme-text);
    background-color: #5D8369;
    border: 1px solid #5D8369;
}

.btn-secondary:hover {
    background-color:var(--theme-bg);
    border: 1px solid #5D8369;
}

#health-benefits .btn-outline-secondary {
    color: var(--theme-text);
    background-color: #5D8369;
    border: 1px solid #5D8369;
    padding: 10px;
    border-radius: 5%;
    text-decoration-line: none;
}

#health-benefits .btn-outline-secondary:hover {
    background-color:var(--theme-bg);
    border: 1px solid #5D8369;
    text-decoration-line: none;

}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.1em !important;
    color: var(--theme-text);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #3C2815;
}

.navbar-title {
    color: var(--theme-text);
}

.navbar-light .navbar-nav .active .nav-link {
    color: #5E3023;
}

.carousel-inner .carousel-item img {
    width: 640px;
    height: 460px;
    object-fit: cover;

}


.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.row .col-lg-4 {
    text-align: center;
}

.row .col-lg-4 p {
    margin-top: .75rem;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
    background-color: #3B5444;

}

.jumbotron p {
    font-size: 5vh;
}

.jumbotron button {
    color: var(--theme-text);
    background-color: var(--theme-bg);
    border: none;
    box-shadow: none;
}

.jumbotron button:hover {
    color: var(--theme-text);
    border: 1px solid var(--theme-bg);
    background-color: #3B5444;
    box-shadow: none;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;

}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.fa-code {
    color: #e54d26;
}

.fa-bold {
    color: #563d7c;
}

.fa-css3 {
    color: #216EAF;
}

.fa-js {
    color: #f0db4f;
}

.fa-code,
.fa-css3,
.fa-bold,
.fa-js {
    font-size: 4em;
    margin: 1rem;
}

.fun {
    width: 100%;
    margin-bottom: 2rem;
}

.gif {
    max-width: 100%;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-envelope {
    color: black;
}

.fa-linkedin {
    color: #4875B4;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-envelope:hover,
.fa-linkedin:hover {
    color: white;
}

footer {
    background-color: #694526;
    color: #F3E9DC;
    padding: 1rem;
    width: 100%;

}

hr.light {
    border-top: 1px solid #F3E9DC;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #5E3023;
}

hr.light-100 {
    border-top: 4px solid #F3E9DC;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

hr.my-4 {
    border-top: 4px solid #F3E9DC;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.col-lg-6 img {
    border-radius: 1%;
}



/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 15%;
    padding-left: 15%;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.card-front {
    text-align: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid #888;
    width: 70%;
    position: fixed;
    margin-top: auto;
    margin-left: auto;

}

.modal-content img {
    width: 300px;
    height: 300px;
    float: left;
    object-fit: cover;
    margin-right: 5%;
    margin-top: 0%;
    -webkit-box-shadow: -5px 8px 12px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 8px 12px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 8px 12px 6px rgba(0, 0, 0, 0.75);
}

.modal-content h2 {
    color: black;
    position: relative;
    margin-top: -5%;
    margin-left: 0%;
    width: 60%;
}

.modal-content p {
    color: black;
    float: right;
}

.modal-content #source {
    font-size: 15px;
}

.modal-content #amazonLink {
    font-size: 200%;
    position: relative;
    left: 45%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    position: relative;
    left: 98%;
    top: -10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.card {
    background-color: #875931;
    color: var(--theme-text);;
    width: 350px;
    height: 450px;
    position: relative;
}

.card-image img {
    width: 340px;
    height: 250px;
    object-fit: cover;
    position: relative;
    left: 4px;
    top: 4px;
    border-radius: 0.7%;
}

.card button {
    color: var(--theme-text);;
    border-color: #5E3023;
}

.card button:hover {
    background-color: #5E3023;
    border-color: #784F2B;
}


#sunModal #amazonLinkSun1 {
    position: relative;
    left: 44.9%;
}

#sunModal #amazonLinkSun2 {
    position: relative;
    left: 43.2%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background-color: #875931;
    border: 2px solid #000;
    border-radius: 5px;
    color: var(--theme-text);;
}

.accordion svg {
    position: absolute;
    left: 95%;
}

.accordion .bi-caret-up {
    visibility: hidden;
}

.accordion.active .bi-caret-down {
    display: none;
}

.accordion.active .bi-caret-up {
    position: absolute;
    left: 95%;
    visibility: visible;
}

.accordion.active {
    color: #5D8369;
}

.accordion.active svg {
    position: relative;
    left: 78%;
}


/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: var(--theme-text);;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    color: black;
    transition: max-height 0.2s ease-out;
}

#photoGalleryButton {
    text-align: center;
    width: 25%;
    position: relative;
    left: 37.5%;
    border-radius: 5px;
    background: #875931;
    color: var(--theme-text);;
}

#photoGalleryPanel {
    position: relative;
    top: 1%;
    padding: 0 18px;
    background: rgb(2, 0, 36);
    background: linear-gradient(174deg, rgba(2, 0, 36, 1) 0%, rgba(48, 24, 36, 1) 16%, rgba(94, 48, 35, 1) 35%, rgba(100, 54, 37, 1) 61%, rgba(135, 89, 49, 1) 78%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.lightbox-gallery p {
    color: #fff
}

.lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #fff
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

.lightbox-gallery .intro p {
    margin-bottom: 0
}

.lightbox-gallery .photos {
    object-fit: fill;
}

.lightbox-gallery .item {
    padding-bottom: 30px
}


.list-group {
    position: relative;
    left: 30%;
    text-align: left;
    font-size: 25px;
    align-content: center;
}

#back-top {
    position: fixed;
    display: none;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.5);
    bottom: 5px;
    right: 10px;
    width: auto;
}

a#back-top:active {
    background: none;
}

a#back-top {
    text-decoration: none;
}

.topup {
    bottom: 5px;
}

#back-top i {
    display: block;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

#questionList {
    margin-left: 0px;
}

/*---Media Queries---*/
@media (max-width:992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}


/*--IPAD--*/

@media(max-width:768px) {

    html,
    body {
        position: relative;
    }

    .carousel-caption {
        top: 70%;
    }

    .carousel-caption h1 {
        font-size: 350%;
        text-transform: uppercase;
        text-shadow: 1px 1px 15px #000;
        position: relative;
        top: -240%;
    }

    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }

    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }

    .display-4 {
        font-size: 200%;
    }

    .col-lg-4 h2 {
        font-size: 180%;
    }

    .col-lg-4 p {
        font-size: 130%;
    }

    .jumbotron p {
        font-size: 180%;
        text-align: center;
    }

    #articleButton a {
        position: relative;
        top: 10%;
        left: -5%;
    }

    .display-4 {
        font-size: 180%;
    }


    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }

    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }

    .card {
        background-color: #875931;
        color: var(--theme-text);;
        width: 250px;
        position: relative;
        padding: 5px;
        margin-right: 30px;
    }

    .card-image img {
        width: 100%;
        height: 190px;
        object-fit: cover;
        position: relative;
        left: 0px;
        top: 4px;
        border-radius: 0.7%;
    }

    .modal-content #amazonLink {
        position: relative;
        left: 80%;
        font-size: 150%;

    }

    #sunModal h2 {
        width: 80%;
    }

    #sunModal #amazonLinkSun1 {
        top: 0%;
        left: 80%;
    }

    #sunModal #amazonLinkSun2 {
        position: relative;
        top: 0%;
        left: 77%;
    }

    #sunModal #source {
        position: relative;
        top: 40%;
        font-size: 95%;
    }

    #commonItems {
        width: 768px;
        align-items: center;
    }

    #commonItemsRow2 {
        width: 768px;
        align-items: center;
    }

}


/*--MobileView--*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    html,
    body {
        position: relative;
    }

    /*Nav Bar*/
    .navbar-title h2 {
        position: relative;
        font-size: 100%;
    }

    /*carousel caption*/
    .carousel-caption {
        top: 65%;
    }

    .carousel-caption h1 {
        position: relative;
        font-size: 250%;
        text-transform: uppercase;
        text-shadow: 1px 1px 15px #000;
        top: -200%;
    }

    .carousel-caption h3 {
        font-size: 110%;
        font-weight: 400;
        padding-bottom: .2rem;

    }

    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }

    .carousel-caption a {
        position: relative;
        top: -140%;
    }

    .carousel-indicators {
        display: none;
    }

    #slides {
        padding-bottom: 15px;
    }

    .col-lg-4 h2 {
        font-size: 160%;
    }

    .col-lg-4 p {
        font-size: 90%;
    }

    .padding {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    .jumbotron p {
        font-size: 180%;
        text-align: center;
    }

    #articleButton a {
        position: relative;
        left: 25.5%;
    }

    .display-4 {
        font-size: 180%;
    }

    #photoGalleryButton {
        width: 50%;
        left: 25.5%;
    }



    .card {
        background-color: #875931;
        color: var(--theme-text);;
        width: 326px;
        height: 350px;
        position: relative;
        padding: 5px;
        margin: auto;
    }

    .card-image img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        position: relative;
        left: 0px;
        top: 4px;
        border-radius: 0.7%;
    }

    #commonItemsRow2 {
        width: 100%;
    }

    .modal-content {
        top: 0%;
        height: 100%;
        width: 100%;
        left: 0%;
    }

    .modal-content h2 {
        position: relative;
        top: -15px;
        font-size: 25px;

    }

    .modal-content img {
        width: 100%;
        height: 25%;
        object-fit: cover;
    }

    .modal-content p {
        font-size: 100%;
    }

    .modal-content a {
        position: relative;
        top: -13%;
    }

    .modal-content #source {
        font-size: 95%;
    }

    .modal-content #amazonLink {
        position: relative;
        top: -12.5%;
        left: 67%;
    }

    #commonItemsTitle h2 {
        position: relative;
        top: -30%;
    }



    .social a {
        font-size: 2rem;
        padding: .7rem;
    }

    #commonItems {
        width: 100%;
    }

    #shoesModal img {
        position: relative;
        width: 50%;
        height: 25%;
    }

    #shoesModal h2 {
        width: 170px;
    }

    #shoesModal p {
        position: relative;
        top: 2%
    }


    #sticksModal h2 {
        width: 100%;
    }

    #sticksModal p {
        font-size: 95%;
    }

    #sticksModal img {
        position: relative;
        height: 25%;
        top: -2%;
        object-fit: contain;
    }

    #sticksModal a {
        top: 0%;
        font-size: 90%;
    }

    #sticksModal #amazonLink {
        top: 0%;
        font-size: 150%;
    }


    #waterModal img {
        width: 100%;
        height: 30%;
        position: relative;
        top: -2%;
    }

    #waterModal #hydrationButton {
        position: relative;
        top: 0%;
    }

    #sunModal h2 {
        width: 100%;
    }

    #sunModalImg {
        position: relative;
        object-fit: contain;
        top: -2%;
        width: 100%;
        height: 20%;
    }

    #sunModal #amazonLinkSun1 {
        top: 0%;
        left: 62.4%;
        font-size: 150%;
    }

    #sunModal #amazonLinkSun2 {
        position: relative;
        top: 0%;
        left: 58%;
        font-size: 150%;
    }

    #sunModal #source {
        position: relative;
        top: 10%;
        font-size: 95%;
    }

    #snackModal h2 {
        width: 300px;
    }

    #snackModal img {
        position: relative;
        top: -2%;
    }

    .accordion svg {
        position: absolute;
        left: 88%;
    }

    .accordion.active svg {
        position: relative;
        left: 78%;
    }

    .accordion.active .bi-caret-up {
        position: absolute;
        left: 88%;
        visibility: visible;
    }

    .panel p {
        font-size: 8px;
    }

    #questionList {
        position: relative;
        left: 0%;
        font-size: 15px;
    }


    #back-top {
        left: 80%;
    }





}


/*--- FIREFOX BUG FIX---*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*-- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {

    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*-- Bootstrap Padding Fix --*/
[class *="col-"] {
    padding: 1rem;
}